[Desktop Entry]
Name=Daily inspirational message
Name[zh]=每日励志留言
Name[vi]=Thông điệp truyền cảm hứng hàng ngày
Name[uk]=Щоденне надихаюче повідомлення
Name[tr]=Günlük ilham verici mesaj
Name[tl]=Pang-araw-araw na mensahe ng inspirasyon
Name[te]=రోజువారీ స్ఫూర్తిదాయకమైన సందేశం
Name[sv]=Dagligt inspirerande meddelande
Name[sr]=Дневна инспиративна порука
Name[sl]=Dnevno navdihujoče sporočilo
Name[sk]=Denná inšpiratívna správa
Name[ro]=Mesaj inspirațional zilnic
Name[pt]=Mensagem inspiradora diária
Name[pl]=Codzienna inspirująca wiadomość
Name[no]=Daglig inspirerende melding
Name[nl]=Dagelijks inspirerend bericht
Name[nb]=Daglig inspirerende melding
Name[ms]=Mesej inspirasi harian
Name[lv]=Ikdienas iedvesmas vēstījums
Name[lt]=Kasdien įkvepianti žinutė
Name[ko]=매일 영감을 주는 메시지
Name[ja]=毎日の心に響くメッセージ
Name[it]=Messaggio ispiratore quotidiano
Name[id]=Pesan inspirasional harian
Name[hu]=Napi inspiráló üzenet
Name[hr]=Dnevna inspirativna poruka
Name[hi]=दैनिक प्रेरक संदेश
Name[fr]=Message d'inspiration quotidien
Name[fi]=Päivittäinen inspiroiva viesti
Name[et]=Igapäevane inspireeriv sõnum
Name[es]=Mensaje inspirador diario
Name[eo]=Ĉiutaga inspira mesaĝo
Name[el]=Καθημερινό εμπνευσμένο μήνυμα
Name[de]=Tägliche inspirierende Nachricht
Name[da]=Daglig inspirerende besked
Name[cs]=Denní inspirativní zpráva
Name[ca]=Missatge inspirador diari
Name[bn]=প্রতিদিনের অনুপ্রেরণামূলক বার্তা
Name[bg]=Ежедневно вдъхновяващо послание
Name[az]=Gündəlik ruhlandırıcı mesaj
Comment=An Artificial-intelligence feature by Elive will tell you a motivational sentence at desktop startup
Comment[az]=Elive-in süni intellekt xüsusiyyəti sizə masaüstü işə salındıqda motivasiyaedici cümlə söyləyəcək
Comment[bg]=Функция за изкуствен интелект от Elive ще ви каже мотивиращо изречение при стартиране на работния плот
Comment[bn]=এলিভের একটি কৃত্রিম-বুদ্ধিমত্তা বৈশিষ্ট্য ডেস্কটপ স্টার্টআপে আপনাকে একটি প্রেরণামূলক বাক্য বলবে
Comment[ca]=Una funció d'intel·ligència artificial d'Elive us dirà una frase de motivació a l'inici de l'escriptori
Comment[cs]=Funkce umělé inteligence od Elive vám řekne motivační větu při spuštění počítače
Comment[da]=En kunstig intelligens-funktion fra Elive vil fortælle dig en motiverende sætning ved opstart af skrivebordet
Comment[de]=Eine künstliche Intelligenzfunktion von Elive sagt Ihnen beim Desktop-Start einen motivierenden Satz
Comment[el]=Μια λειτουργία τεχνητής νοημοσύνης της Elive θα σας πει μια κινητήρια πρόταση κατά την εκκίνηση επιτραπέζιου υπολογιστή
Comment[eo]=Funkcio de Artefarita inteligenteco de Elive diros al vi motivan frazon ĉe labortabla ekfunkciigo
Comment[es]=Una función de inteligencia artificial de Elive le dirá una frase motivadora al iniciar el escritorio
Comment[et]=Elive'i tehisintellekti funktsioon ütleb teile motiveeriva lause töölaua käivitamisel
Comment[fi]=Eliven tekoäly-ominaisuus kertoo sinulle motivoivan lauseen työpöydän käynnistyksen yhteydessä
Comment[fr]=Une fonctionnalité d'intelligence artificielle d'Elive vous dira une phrase de motivation au démarrage du bureau
Comment[hi]=एलीव द्वारा एक आर्टिफिशियल-इंटेलिजेंस फीचर आपको डेस्कटॉप स्टार्टअप पर एक प्रेरक वाक्य बताएगा
Comment[hr]=Eliveova značajka umjetne inteligencije reći će vam motivacijsku rečenicu pri pokretanju stolnog računala
Comment[hu]=Az Elive mesterséges intelligencia funkciója motiváló mondatot mond az asztali számítógép indításakor
Comment[id]=Fitur Kecerdasan Buatan oleh Elive akan memberi tahu Anda kalimat motivasi saat memulai desktop
Comment[it]=Una funzione di intelligenza artificiale di Elive ti dirà una frase motivazionale all'avvio del desktop
Comment[ja]=Elive による人工知能機能は、デスクトップの起動時に動機付けの文章を教えてくれます
Comment[ko]=Elive의 인공 지능 기능은 데스크톱 시작 시 동기 부여 문장을 알려줍니다.
Comment[lt]=Dirbtinio intelekto funkcija, kurią sukūrė Elive, pasakys motyvacinį sakinį paleidžiant darbalaukį
Comment[lv]=Elive mākslīgā intelekta funkcija pateiks jums motivējošu teikumu darbvirsmas startēšanas laikā
Comment[ms]=Ciri kecerdasan buatan oleh Elive akan memberitahu anda ayat motivasi pada permulaan desktop
Comment[nb]=En funksjon med kunstig intelligens fra Elive vil fortelle deg en motiverende setning ved oppstart av skrivebord
Comment[nl]=Een functie voor kunstmatige intelligentie van Elive vertelt u een motiverende zin bij het opstarten van de desktop
Comment[no]=En funksjon med kunstig intelligens fra Elive vil fortelle deg en motiverende setning ved oppstart av skrivebord
Comment[pl]=Funkcja sztucznej inteligencji firmy Elive poda motywacyjne zdanie podczas uruchamiania komputera
Comment[pt]=Um recurso de inteligência artificial da Elive lhe dirá uma frase motivacional na inicialização da área de trabalho
Comment[ro]=O funcție de inteligență artificială de la Elive vă va spune o propoziție motivațională la pornirea desktopului
Comment[sk]=Funkcia umelej inteligencie od Elive vám pri spustení počítača povie motivačnú vetu
Comment[sl]=Funkcija umetne inteligence Elive vam bo povedala motivacijski stavek ob zagonu namizja
Comment[sr]=Еливе-ова функција вештачке интелигенције ће вам рећи мотивациону реченицу при покретању десктопа
Comment[sv]=En funktion med artificiell intelligens från Elive kommer att berätta en motiverande mening vid start av skrivbordet
Comment[te]=డెస్క్టాప్ స్టార్టప్లో ఎలివ్ ద్వారా ఆర్టిఫిషియల్-ఇంటెలిజెన్స్ ఫీచర్ మీకు ప్రేరణాత్మక వాక్యాన్ని తెలియజేస్తుంది
Comment[tl]=Isang tampok na Artificial-intelligence ni Elive ang magsasabi sa iyo ng isang motivational sentence sa desktop startup
Comment[tr]=Elive'in Yapay zeka özelliği, masaüstü açılışında size motive edici bir cümle söyleyecek
Comment[uk]=Функція штучного інтелекту від Elive підкаже вам мотиваційне речення під час запуску робочого столу
Comment[vi]=Một tính năng Trí tuệ nhân tạo của Elive sẽ cho bạn biết một câu tạo động lực khi khởi động máy tính để bàn
Comment[zh]=Elive 的一项人工智能功能会在桌面启动时告诉你一句激励性的句子
Icon=robot
Exec=elive-ai inspireme
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
